

@media only screen and (max-width: 600px) {
    img {
      width: 100px;
      height: 100px;


    }

body{

background-color:aqua;


}

  }
  
  .main {
    display: flex;
   flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: ;
}

.na{

display: flex;
flex-direction: row-reverse;
justify-content: space-around;
flex-wrap: wrap;
}
.ma{


    border: 2px solid brown;
    margin-top: 10px;
    width: auto;
 text-align: center;
}




.one,.two,.three {
    border: 2px solid red;
    width: 250px;
}  */

 .one {
    flex: 3;
}
.two {
    flex: 1;
}
.three {
    flex: 1;
} 


